.idea

# env files
**/.env
**/.env.local
**/.env.*.local

# Firebase service account
**/service-account.json

# Build outputs
frontend/.next/
frontend/out/
backend/dist/

# Dependencies
**/node_modules/
