rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if true;
      allow write: if false;
    }

    match /posts/{postId} {
      allow read: if true;
      allow write: if false;

      match /likes/{userId} {
        allow read: if true;
        allow write: if false;
      }

      match /comments/{commentId} {
        allow read: if true;
        allow write: if false;
      }
    }
  }
}
